<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Benutzername</mat-label>
    <input matInput formControlName="username">
    <mat-error>
      Benutzername ist erforderlich
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Passwort</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error>
      Passwort ist erforderlich
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="loading">
    Login
  </button>
</form>

<mat-spinner diameter="24" *ngIf="loading"></mat-spinner>
<div *ngIf="error">{{error}}</div>
