<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="document" style="display: flex; flex-flow: row; justify-content: space-between;">
  <div style="overflow-y: scroll; max-height: 90vh">
    <mat-spinner *ngIf="!imageUrl"></mat-spinner>
    <img *ngIf="imageUrl" [src]="imageUrl" style="max-width: 100%; height: auto" alt="PDF image">
  </div>

  <div style="width: 300px; padding: 24px">
    <h2>{{document.label}}</h2>
    <p>Importiert am {{document.datetime_created|date:'dd.MM.yyyy'}} um {{document.datetime_created|date:'HH:mm'}} Uhr</p>

    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Dokument-Typ</mat-label>
      <mat-select (selectionChange)="selectDocumentType($event.value)">
        <mat-option *ngFor="let documentType of availableDocumentTypes" [value]="documentType">
          {{documentType.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-spinner *ngIf="metadataLoading"></mat-spinner>

    <form *ngIf="form && metadata && !metadataLoading" [formGroup]="form">
      <mat-form-field *ngFor="let met of metadata" appearance="fill" style="width: 100%">
        <mat-label>{{met.type.label}}</mat-label>
        <input matInput [formControlName]="met.type.name" [required]="met.required" [type]="getFieldType(met)">
        <mat-error *ngIf="form.get(met.type.name)?.invalid">{{getErrorMessage(form.get(met.type.name))}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Speichern</button>
    </form>
  </div>
</div>
